<div class="throbber">Loading...</div>

<script>
  setTimeout(function() {
    Turbolinks.visit(window.location.href);
  }, 5000);
</script>
<noscript>
  <meta http-equiv="refresh" content="5">
</noscript>
