<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Forecastfor.me</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#" data-toggle="modal" data-target="#settings"><span class="glyphicon glyphicon-cog" aria-label="settings" aria-hidden="true"></span></a></li>
    </ul>
  </div>
</nav>
